* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --primary: #fbdb6b;
  --secondary: #46515e;
}

.info-window {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 290px;
}

.info-window h2 {
  font-size: 2em;
}

.info-window__bottom {
  display: flex;
  padding: 0 10px 0 0;
  justify-content: space-between;
}

.info-window button {
  color: var(--primary);
  padding: 0.5em 1em;
  border: 2px solid currentColor;
}

.info-window button:hover {
  color: white;
  background-color: var(--primary);
}

.star-rating {
  font-size: 20px;
}

.star-rating .on {
  color: orange;
}

.star-rating .off {
  color: lightgray;
}
